rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Varje förälder kommer bara åt sin egen familjs data
    match /families/{uid}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }
  }
}
